<% content_for :head do %> 
  <meta title="New Article">
  <meta name="description" content="Write a new blog article ">
<% end %>

<h2> Create a New Article </h2> 

<%= simple_form_for @article, :html => {:multipart => true } do |f| %>
  <%= f.input :title, required: true %>
  <div class="tinymce">
  <%= f.input :body, :as => :text, required: true, :input_html => { :cols => 90, :rows => 30, :class => "tinymce" } %>
  </div>
  <%= f.input :keywords %>
  <%= f.input :photo, :as => :file %>
  <%= f.button :submit  %>
<% end %>

  <%= tinymce -%>
