<% content_for :head do %> 
  <meta title="Edit User">
  <meta name="description" content="Admin form for editing a user">
<% end %>

<h1> Edit user account </h1>

<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :admin, as: :boolean  %>
  <%= f.button :submit %>
<% end %>

<%= button_to "Delete", { :controller => :users, :action => "destroy", :id => @user.id }, :confirm => "Are you sure?", :method => :delete %>